@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

:root {
    --white: #ffffff;
    --orange: #FF8A00;
    --red: #FF5F3D;
    --dark-grey: #393e46;
}

* {
    font-family: Poppins;
}

/* HEADER */
#masthead {
    background-color: var(--dark-grey);
}

#masthead .site-header-inner {
    background-color: transparent;
    border-bottom: none;
}

.primary-navigation li > a,
.primary-navigation li.current-menu-item > a,
.primary-navigation > li.current-menu-parent > a {
    color: var(--white);
    font-weight: 700;
}

.site-tools .tools-icon:hover .woostify-svg-icon,
.site-tools .tools-icon .woostify-svg-icon,
.woocommerce-mini-cart__total .amount,
.primary-navigation a:hover {
    color: var(--orange);
}

.shop-cart-count {
    background-color: var(--red);
    color: var(--white);
}

.cart-sidebar-head .shop-cart-count,
.shop-cart-count {
    background-color: var(--orange);
}

/* BUTTONS */
.elementor-section .elementor-container .elementor-element .elementor-button,
.button {
    background-color: var(--orange);
    font-weight: 600;   
}

.elementor-section .elementor-container .elementor-element .elementor-button:hover {
    background-color: var(--red);
}

.shop_table .woocommerce-Price-amount {
    color: var(--orange)!important;
}

.single_add_to_cart_button.button:not(.woostify-buy-now),
.button:hover, .single_add_to_cart_button.button:not(.woostify-buy-now):hover {
    background-color: var(--orange);
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
    box-shadow: none!important;
    border: 1px solid var(--dark-grey);
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected {
    border: 2px solid var(--orange);
}

.single_variation,
.reset_variations,
.sku_wrapper {
    display: none!important;
}




/* CHECKOUT */
.woocommerce-form-coupon-toggle {
    display: none;
}


/* FOOTER */
.site-footer {
    display: none!important;
}

#scroll-to-top {
    background-color: var(--orange)!important;
}