:root {
    --red: #E4002B;
    --white: #ffffff;
    --black: #000000;
    --transition: all .25s ease-in-out
}

* {
    font-family: Noto Sans;
}

/* HEADER */
#masthead {
    background-color: var(--wite);
    padding: 10px 0;
}

#masthead .site-header-inner {
    background-color: transparent;
    border-bottom: none;
}

#masthead .custom-logo {
    width: 100%;
    max-width: 150px;
}

.primary-navigation li > a,
.primary-navigation li.current-menu-item > a,
.primary-navigation > li.current-menu-parent > a {
    color: var(--red);
    font-weight: 700;
}

.site-tools .tools-icon:hover .woostify-svg-icon,
.site-tools .tools-icon .woostify-svg-icon,
.woocommerce-mini-cart__total .amount,
.primary-navigation a:hover {
    color: var(--red);
}

.shop-cart-count {
    background-color: var(--red);
    color: var(--white);
}

.cart-sidebar-head .shop-cart-count,
.shop-cart-count {
    background-color: var(--red);
}

/* BUTTONS */
.elementor-section .elementor-container .elementor-element .elementor-button,
.button, 
.woocommerce-widget-layered-nav-dropdown__submit, 
.form-submit .submit, 
.elementor-button-wrapper .elementor-button, 
.has-woostify-contact-form input[type="submit"], 
#secondary .widget a.button, 
.product-loop-meta.no-transform .button, 
.product-loop-meta.no-transform .added_to_cart, 
[class*="elementor-kit"] .checkout-button,
.woocommerce-cart-form__contents:not(.elementor-menu-cart__products) .actions .coupon [name="apply_coupon"] {
    background-color: var(--red);
    font-weight: 600;   
}

.elementor-section .elementor-container .elementor-element .elementor-button:hover {
    background-color: var(--red);
}

.shop_table .woocommerce-Price-amount {
    color: var(--red)!important;
}

.single_add_to_cart_button.button:not(.woostify-buy-now),
.button:hover, .single_add_to_cart_button.button:not(.woostify-buy-now):hover {
    background-color: var(--red);
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
    box-shadow: none!important;
    border: 1px solid var(--black);
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected {
    border: 2px solid var(--red);
}

.woocommerce-tabs .woocommerce-Tabs-panel p:last-child {
    text-align: center!important;
}

.single_variation,
.reset_variations,
.sku_wrapper,
.woostify-single-product-stock.stock,
.site-footer,
.woocommerce-form-coupon-toggle {
    display: none!important;
}

.woocommerce-tabs.wc-tabs-wrapper {
    display: none;
}


/* FONTS */
h1,
h2,
h3 {
    font-family: Codec Pro;
}

a,
li,
p {
    font-family: Noto Sans;
}

/* CHECKOUT */
.woocommerce-thankyou-order-received {
    border-color: var(--red);
    color: var(--red);
}

#scroll-to-top {
    background-color: var(--red)!important;
}

.woocommerce-info {
    background-color: var(--red);
}

.woocommerce-notice.woocommerce-notice--info.woocommerce-info {
    opacity: 0;
}

.woocommerce-notice.woocommerce-notice--info.woocommerce-info.active {
    opacity: 1;
}

.site-tools .tools-icon.header-search-icon {
    display: none;
}


/* MY ACCOUNT */
.mycred-my-balance-wrapper {
    color: var(--black);
}

.mycred-my-balance-wrapper div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.mycred-my-balance-wrapper div p {
    font-weight: 700;
}

.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads,
.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-address {
    display: none;
}

/* SIZECHARTS */
.woocommerce-tabs .woocommerce-Tabs-panel {
    max-width: none;
}

.woocommerce-tabs .woocommerce-Tabs-panel p {
    text-align: center!important;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin: unset;
    margin-top: 40px;
}

.row .col {
    display: flex;
    flex-direction: column;
}

.sizechart th {
    background-color: var(--black);
    color: var(--white);
    border-color: var(--black);
    font-weight: 700;
}

#tab-title-additional_information {
    display: none;
}